@import "colors";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  color: $font-color;
  font-family: "Roboto Mono", serif;
  font-weight: 400;
  text-align: center;
}

#react-container {
  display: inline-block;
  width: 90%;
  max-width: 960px;
  text-align: left;
}
